body {
  font-family: Arial;
  margin: 0;
  background: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.imgarea {
  background: #F2F2F2;
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgarea img {
  width: 100%;
  margin: 0 0 0 0;
}

.info {
  padding: 10px 5px;
}

.id {
  color: #919191;
  font-size: 12px;
  margin: 0 0;
}

.name {
  color: #313131;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0;
}

.types {
  display: flex;
  gap: 5px;
  margin-top: 0;
}

.type {
  list-style: none;
  border-radius: 3px;
  line-height: 18px;
  width: 40%; 
  height: 15px;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 11px;
  box-sizing: border-box;
}



.type.normal { background: #A8A878; }
.type.fire { background: #F08030; }
.type.water { background: #6890F0; }
.type.electric { background: #F8D030; }
.type.grass { background: #78C850; color: black }
.type.ice { background: #98D8D8; }
.type.fighting { background: #C03028; }
.type.poison { background: #A040A0; }
.type.ground { background: #E0C068; }
.type.flying { background: #A890F0; }
.type.psychic { background: #F85888; }
.type.bug { background: #A8B820; }
.type.rock { background: #B8A038; }
.type.ghost { background: #705898; }
.type.dragon { background: #7038F8; }
.type.dark { background: #705848; }
.type.steel { background: #B8B8D0; }
.type.fairy { background: #EE99AC; }

.filter-h {
  width: 100%;
  background: #2B2B2B;
  display: flex;
  justify-content: center;
  
}

.filter-container {
  width: 80%;
  max-width: 1024px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 5px;
  
}

.filter-left {
  flex: 1;
  min-width: 300px;
  
}

.filter-left label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white
  
}

.search-row {
  display: flex;
  gap: 10px;
  position: relative;
  
}

.search-row input {
  flex: 1;
  height: 48px;
  padding: 0 15px;
  border-radius: 5px;
  border: 3px solid #616161;
  font-size: 16px;
}

.search-row button {
  padding: 0 0;
  width: 120px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background: #F15E34;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  display: inline-flex; 
  align-items: center;  
  justify-content: center;
  margin: 0;            
  padding: 0 20px;      
}


.search-row button:hover {
  opacity: 0.9;
}

.suggestions {
  position: absolute;   
  top: 100%;            
  left: 0;
  width: 100%;
  z-index: 20;
  background: white;
  color: black;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #eee;
}

.subtitle {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.filter-right {
  flex: 1;
  min-width: 300px;
}

.search-banner {
  background: #4caf50;
  padding: 25px;
  border-radius: 8px;
  margin-top: 20px;
}

.search-banner h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: white
}

button {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background: #159ECE;
  color: white;
  cursor: pointer;
}

.filters {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.surprise-btn,
.sort {
  flex: 1; 
  height: 48px;
}

.surprise-btn {
  background: #159ECE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  
}

.sort {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: #2B2B2B;
  color: white;

}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    gap: 10px; 
  }
  .search-banner {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .surprise-btn,
  .sort {
    width: 60%;
  }

  .sort {
    margin: 0 0 0 20%;
  }

  .surprise-btn {
    margin: 0 0 0 20%;
  }
}